.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 40px 16px 40px 40px;
}
.header_links {
  display: flex;
}
.header_links_item {
  line-height: 35px;
  padding: 0 24px;
}
